.container {
  display: flex;
  height: inherit;
  width: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-height: 100%;
  /* background-color: rgb(234, 238, 243); */
  overflow-y: auto;
}

.inner_main {
  width: 95%;
}

.main_intro {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.inner_main_intro {
  width: 75%;
  margin-top: 4rem;
  margin-left: 4rem;
  background-color: white;
  margin-bottom: 2rem;
}

.table_top_row {
  display: flex;
  align-items: center;
}

.table_filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  flex: 1;
}

.search_filter {
  max-width: 240px;
  margin-left: 1rem;
}

.category_filter {
  width: 360px;
  margin-left: 1rem;
}

.button_link {
  padding: 0 !important;
}

.navigation_menu {
  display: flex;
  align-items: flex-start;
  height: 100%;
  background-color: white;
}

.loading {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
